<form>
Recipe title: <input type="text"> <br>
Description: <input type="text"><br>
Time to complete:<input type="text"><br>
Difficulty: <input type="text">/4<br>
<input type="submit" value="Submit">
</form>

