<form method="POST" action="/create">
Recipe title: <input type="text" name="title"> <br>
Description: <input type="text" name="description"><br>
Time to complete:<input type="text" name ="duration"><br>
Difficulty: <input type="text" name="difficulty">/4<br>
<input type="submit" value="Submit">
</form>



